<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Express EJS</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/cats">Cats</a>
                    <a class="nav-link" href="/rand">Random</a>
                </div>
            </div>
        </div>
    </nav>
    <h1>Express EJS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eos dolore harum officiis, porro molestias
        accusamus rerum earum quas provident magnam velit at minus laboriosam nihil? Voluptas quaerat quo eum delectus
        pariatur. Maxime vero quos at atque sunt unde reiciendis, itaque voluptatum quasi consequatur quia accusantium,
        molestiae vel fugit pariatur!</p>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>