<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail <%= type.type %>
    </title>
</head>

<body>
    <h1>Brand <%= type.brand %>
    </h1>
    <h1>Type <%= type.type %>
    </h1>
    <h1>Owner <%= type.owner %>
    </h1>
    <a href="/car">Back</a>
</body>

</html>